
@{
    ViewData["Title"] = "Överföring konton";
}

<h2>Överföring konton</h2>
<h3 style="color: red">@ViewBag.message</h3>

<form asp-controller="Bank" asp-action="Transfer" method="post">
    <label>Från Kontonummer</label>
    <input type="number" name="fromAccountNumber" />
    <label>Till Kontonummer</label>
    <input type="number" name="toAccountNumber" />
    <label>Summa (kronor)</label>
    <input type="number" name="sum" />
    <input type="submit" value="Överför" class="btn btn-primary" />
</form>

