@model List<Customer>
@{
    ViewData["Title"] = "CustomerAccounts";
}

<h2>CustomerAccounts</h2>

@foreach (var customer in Model)
{
	<h3>Namn: @customer.Name</h3>
	<h4>Kontonummer: @customer.Account.AccountNumber</h4>
	<h4>Saldo: @customer.Account.Balance:-</h4>											
}